@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap');

// $ThemesColor: #8aa0a2;
$ThemesColor: #09c346;
$WhiteColor: #FFFFFF;
$BlackColor: #000000;
$FontsColor: #4d4d4d;
$smallShadow: 0 .125rem .25rem rgba(0, 0, 0, .075);
$RegularShadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
$LargShadow: 0 1rem 3rem rgba(0, 0, 0, .175);
$transitionEffect: all 0.5s ease;
$PoppinsFontFamily: 'Open Sans', sans-serif;
@mixin buttonSytled {
    width: auto;
    border-radius: 30px;
    background-color: $ThemesColor;
    color: $WhiteColor;
    padding: 10px 30px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    text-decoration: none;
    transition: $transitionEffect;
    border: none;
    &:hover{
        transition: $transitionEffect;
        background-color: #1f549f;
    } 
}
html {
    max-height: 100%;
    height: 100%;
}

body {
    position: relative;
    overflow-x: hidden;
    font-family: $PoppinsFontFamily;
    height: 100%;
}

::selection {
    color: #fff;
    background-color: $ThemesColor;
}

::-moz-selection {
    color: #fff;
    background-color: $ThemesColor;
}
.miniHeaderSection {
    position: relative;
    width: 100%;
    background-color: $ThemesColor;

    .contact_informataions {
        position: relative;
        padding: 8px 0;
        ul {
            list-style: none;
            padding: 0;
            margin: 0;
            display: flex;
            align-items: center;
            li {
                margin-right: 20px;

                a {
                    color: $WhiteColor;

                    &:hover {
                        text-decoration: none;
                    }
                }

                span {
                    font-weight: bold;
                    color: $WhiteColor;
                    margin-right: 10px;
                }

                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }

    .admin_usage_sections {
        position: relative;
        text-align: right;
        width: 100%;
        padding: 8px 0;

        ul {
            list-style: none;
            padding: 0;
            margin: 0;
            display: flex;
            align-items: center;
            justify-content: flex-end;

            li {
                margin-right: 20px;
                padding: 2px 0;
                a {
                    position: relative;
                    border: solid 2px $WhiteColor;
                    transition: $transitionEffect;
                    border-radius: 30px;
                    padding: 2px 15px;
                    color: $WhiteColor;
                    &:hover{
                        transition: $transitionEffect;
                        border: solid 2px #1f549f;
                        background-color: #1f549f;
                    }
                    svg {
                        width: 22px;
                        fill: $WhiteColor;
                    }

                    &:hover {
                        text-decoration: none;
                    }
                }

                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }
}

.main_header {
    margin: 20px 0;
    position: relative;
    .navbar.navbar-light {
        padding: 0;

        .navbar-brand {
            position: relative;
            display: flex;
            align-items: center;
            img.MainLogo {
                width: 100%;
                max-width: 130px;
            }
            img.logoText{
                width: 100%;
                max-width: 190px;
                margin: 0 0 0 10px;
            }
        }

        .navbar-toggler {
            border: solid 2px $ThemesColor;
        }

        .navbar-collapse {
            ul {
                justify-content: flex-end;

                li {
                    margin-right: 20px;

                    &:last-child {
                        margin-right: 0;
                    }

                    a {
                        font-size: 18px;
                        text-transform: capitalize;
                        letter-spacing: 3px;
                        color: $FontsColor;
                        transition: $transitionEffect;
                        font-weight: bold;

                        &:hover {
                            transition: $transitionEffect;
                            color: $ThemesColor;
                        }
                    }
                }
            }
        }
    }
}
.sliderSection{
    position: relative;
    width: 100%;
    // height: calc(100% - 147px);
    height: 600px;
    background-image: url('../images/bannerImages.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    // display: flex;
    // align-items: center;
    // justify-content: center;
    overflow: hidden;
    .MainVideoSection{
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 1;
        video{
            width: 100%;
        }
        .videoOverlay{
            position: absolute;
            width: 100%;
            height: 100%;
            background: rgba(225,225,225,.08);
            z-index: 2;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
        }
    }
    .sliderSectionOverlay{
        position: absolute;
        left: 0;
        right: auto;
        top: 0;
        width: 50%;
        height: 100%;
        background-color: #1f549f;
        clip-path: polygon(0% 0%, 100% 0%, 75% 100%, 0% 100%);
        z-index: 3;
    }
    ul{
        position: absolute;
        left: auto;
        right: 30px;
        bottom: 30px;
        list-style: none;
        padding: 0;
        margin: 0;
        li{
            margin-bottom: 15px;
            &:last-child{
                margin-bottom: 0;
            }
            a{
                width: 40px;
                height: 40px;
                border-radius: 50%;
                background-color: #1f549f;
                color: $WhiteColor;
                display: flex;
                align-items: center;
                justify-content: center;
                text-decoration: none;
                transition: $transitionEffect;
                &:hover{
                    transition: $transitionEffect;
                    background-color: $ThemesColor;
                }
            }
        }
    }
    .sliderTextContents{
        position: relative;
        box-shadow: $RegularShadow;
        background-color: $WhiteColor;
        background-image: url('../images/bg-health.jpg');
        background-size: cover;
        border-radius: 10px;
        padding: 20px;
        z-index: 4;
        margin-top: 50px;
        h1{
            font-size: 45px;
            font-weight: bolder;
            color: $BlackColor;
            text-transform: capitalize;
            margin-bottom: 20px;
            i{
                font-style: normal;
                color: $ThemesColor;
                font-weight: 600;
            }
            .typed-text{
                color: #1f549f;
                font-size: 45px;
            }
            .cursor{
                background-color: #1f549f;
            }
        }
        p{
            color: $FontsColor;
            font-size: 22px;
            margin-bottom: 40px;
        }
        .sliderMainButtons{
            position: relative;
            margin: 20px 0;
            a{
                @include buttonSytled();
            }
        }
    }
}
.MainSearchBox{
    position: relative;
    margin: -100px 0 60px 0;
    .searchBoxContent{
        position: relative;
        padding: 30px 20px;
        box-shadow: $RegularShadow;
        background-color: $WhiteColor;
        border-radius: 10px;
        z-index: 4;
        form{
            position: relative;
            .searchBoxHeading{
                margin: 0px 0 20px 0;
                position: relative;
                h2{
                    font-size: 26px;
                    font-weight: 600;
                    color: $FontsColor;
                    margin: 0;
                    text-transform: capitalize;
                }
            }
            .searchBoxFeilds{
                position: relative;
                margin-bottom: 20px;
                input, select{
                    width: 100%;
                    height: 42px;
                    border: solid 1px $FontsColor;
                    transition: $transitionEffect;
                    &:focus{
                        transition: $transitionEffect;
                        border: solid 1px $ThemesColor;
                        box-shadow: none;
                        outline: none;
                    }
                }
                button{
                    @include buttonSytled();
                    border-radius: 5px;
                    width: 100%;
                    height: 42px;
                    padding: 0;
                    font-weight: 600;
                    font-size: 20px;
                }
            }
        }
    }
}

.aboutCarePaysSection{
    position: relative;
    // background-color: #f4f8fc;
    // background-image: url('../images/bg-health.jpg');
    background-color: #ECFDFB;
    background-size: cover;
    background-position: right bottom;
    background-repeat: no-repeat;
    width: 100%;
    padding: 80px 0;
    border-radius: 100px 0 100px 0;
    .CarepaysConsumerSections{
        position: relative;
        h2{
            font-size: 30px;
            font-weight: bold;
            color: $BlackColor;
            margin-bottom: 30px;
            span{
                color: $ThemesColor;
            }
        }
        p{
            width: 90%;
            font-size: 16px;
            color: $FontsColor;
        }
    }
    .CarepaysCards{
        position: relative;
        padding: 15px;
        box-shadow: $RegularShadow;
        height: 100%;
        background-color: $WhiteColor;
        border-radius: 10px;
        text-align: center;
        transition: $transitionEffect;
        transform: translate(0px, 0px);
        &:hover{
            transition: $transitionEffect;
            transform: translate(0px, -10px);
        }
        .CarePayIcons{
            margin-bottom: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 60px;
            img{
                width: 100%;
                max-width: 50px;
            }
        }
        h3{
            font-size: 22px;
            font-weight: bold;
            color: $FontsColor;
            margin-bottom: 15px;
        }
        p{
            font-size: 16px;
            margin: 0;
        }
    }
    .CarePaysForDoctro{
        position: relative;
        margin-top: 60px;
    }
}
.aboutTheCarePays{
    position: relative;
    padding: 80px 0;
    .aboutUsImage{
        position: relative;
        img{
            width: 100%;
            max-width: 85%;
            border-radius: 10px;
        }
        .aboutUsOverlayImg{
            position: absolute;
            left: -50px;
            bottom: -50px;
            img{
                width: 400px;
                height: 200px;
                border: solid 20px $WhiteColor;
                border-radius: 10px;
                box-shadow: $RegularShadow;
            }
        }
    }
    .aboutUsTextContent{
        position: relative;
        span{
            color: $ThemesColor;
            font-size: 14px;
            font-weight: 600;
        }
        h2{
            font-size: 36px;
            font-weight: bold;
            margin: 0 0 20px 0;
            color: $BlackColor;
            span{
                color: $ThemesColor;
                font-size: 36px;
                font-weight: bold;
            }
        }
        p{
            font-size: 16px;
            color: rgba(77,77,77,0.6);
            margin-bottom: 20px;
        }
    }
    .aboutServerContent{
        position: relative;
        display: flex;
        align-items: inherit;
        margin-bottom: 20px;
        i{
            font-size: 30px;
            color: #1f549f;
            margin-right: 20px;
        }
        .ServerTextContent{
            position: relative;
            h4{
                font-size: 17px;
                margin: 0 0 10px 0;
                font-weight: 600;
                color: $FontsColor;
            }
        }
    }
    ul{
        list-style: none;
        padding: 0 0 0 30px;
        margin: 0 0 40px 0;
        li{
            position: relative;
            margin: 0 0 5px 0;
            font-size: 16px;
            color: $FontsColor;
            &::before{
                content: '\f00c';
                position: absolute;
                left: -30px;
                top: 0px;
                font-size: 16px;
                color: $ThemesColor;
                font-family: 'fontawesome';
            }
        }
    }
    a{
        @include buttonSytled();
    }
}

.testimonialSliderSection{
    position: relative;
    padding: 0;
    &::after{
        content: 'Testimonials';
        position: absolute;
        left: 0;
        right: 0;
        top: auto;
        bottom: -20px;
        font-size: 10vw;
        color: rgba(225,225,225,.35);
        text-transform: uppercase;
        font-weight: bold;
        margin: 0 auto;
        text-align: center;
        // -webkit-animation: imgAnimation 1s infinite  alternate;
        //     -moz-animation: imgAnimation 1s infinite  alternate;
        //     animation: imgAnimation 1s infinite  alternate;
        //     animation: imgAnimation 1s infinite  alternate;
    }
}
.fa-spin {
    -webkit-animation: fa-spin 2s infinite linear;
            animation: fa-spin 2s infinite linear; }
  
  .fa-pulse {
    -webkit-animation: fa-spin 1s infinite steps(8);
            animation: fa-spin 1s infinite steps(8); }
  
  @-webkit-keyframes fa-spin {
    0% {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg); }
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg); } }
  
  @keyframes fa-spin {
    0% {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg); }
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg); } }
  .large-container {
      position: static;
      max-width: 1580px;
      padding: 0px 30px;
      margin: 0 auto;
      @media(max-width: 1024px){
        padding:0 20px;
    }
    .testimonial-carousel{
        .owl-nav{
            .owl-prev,
            .owl-next{
                background: transparent;
            }
        }
        .owl-dots{
            display: none;
        }
    }
  }
  
  .testimonial-section{
      position: relative;
      padding-top: 80px;
      padding-bottom: 210px;
  }
  
  .testimonial-section:before{
      position: absolute;
      left: -100px;
      top: 22%;
      background-image: url(http://t.commonsupport.com/adro/images/icons/ring-circle.png);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      width: 550px;
      height: 550px;
      content: "";
      -webkit-animation: fa-spin 25s infinite alternate;
      -moz-animation: fa-spin 25s infinite alternate;
      -ms-animation: fa-spin 25s infinite alternate;
      -o-animation: fa-spin 25s infinite alternate;
      animation: fa-spin 25s infinite alternate;
      @media(max-width: 1024px){
       display: none;
    }
  }
  
  .testimonial-section .sec-title{
      position: relative;
      margin-bottom: 10px;
  }
  
  .testimonial-section .sec-title .title{
      margin-bottom: 20px;
      color: $ThemesColor;
      font-weight: 600;
      font-size: 14px;
  }
  .testimonial-section .sec-title h2{
      font-size: 36px;
      font-weight: bold;
      color: $FontsColor;
  }
  
  .testimonial-section .testimonial-carousel{
      position: relative;
      max-width: 1100px;
      margin: 0 -50px;
      @media(max-width: 1024px){
        margin: 0 0px;
    }
  }
  
  .testimonial-block{
      position: relative;
      padding: 50px;
      @media(max-width: 1024px){
          padding: 20px;
      }
  }
  
  .testimonial-block .inner-box{
      padding: 80px 105px;
      background-color:#ffffff;
      box-shadow: 0 0 50px rgba(226,222,232,0.75);
      @media(max-width: 1024px){
        padding: 20px;
    }
  }
  
  .testimonial-block .text{
      position: relative;
      display: block;
      font-size: 18px;
      line-height: 32px;
      color: #282331;
      font-weight: 400;
      margin-bottom: 50px;
      font-family: "Muli", sans-serif;
  }
  
  .testimonial-block .info-box{
      position: relative;
      padding-left: 115px;
      padding-top: 10px;
  }
  
  .testimonial-block .info-box .thumb{
      position: absolute;
      left: 0;
      top: 0;
      height: 82px;
      width: 82px;
  }
  
  .testimonial-block .info-box .thumb img{
      border: 6px solid #e5e6fa;
      border-radius: 50%;
      overflow: hidden;
      display: block;
      width: 100%;
      box-shadow: 0 45px 45px rgba(147,147,147,0.35);
  }
  
  .testimonial-block .info-box .name{
      position: relative;
      display: block;
      font-size: 21px;
      line-height: 1.2em;
      color: #382c4d;
      font-weight: 700;
      margin-bottom: 10px;
      font-family: "Niramit", sans-serif;
  }
  
  .testimonial-block .info-box .designation{
      position: relative;
      display: block;
      font-size: 16px;
      line-height: 24px;
      color: #8053f7;
      font-weight: 400;
      font-family: "Muli", sans-serif;
  }
  
  .testimonial-carousel .owl-nav{
      position: absolute;
      right: 75px;
      bottom: 100px;
      @media(max-width: 767px){
          display: none;
      }
  }
  
  .testimonial-carousel .owl-next,
  .testimonial-carousel .owl-prev{
      position: relative;
      display: inline-block;
      height: 75px;
      width: 75px;
      line-height: 75px;
      text-align: center;
      border-radius: 50%;
      background-color:#ffffff;
      -webkit-transition: all 300ms ease;
      -moz-transition: all 300ms ease;
      -ms-transition: all 300ms ease;
      -o-transition: all 300ms ease;
      transition: all 300ms ease;
  }
  
  .testimonial-carousel .owl-next:hover,
  .testimonial-carousel .owl-prev:hover{
      background-color:$ThemesColor;
    //   box-shadow: 0 24px 24px rgba(187,187,187,.75);
  }
  
  .arrow-right,
  .arrow-left{
      position: relative;
      display: inline-block;
      height: 9px;
      width: 43px;
      background-image: url(http://t.commonsupport.com/adro/images/icons/arrow-left-2.png);
      background-repeat: no-repeat;
      background-position: center;
  }
  
  .arrow-right{
      background-image: url(http://t.commonsupport.com/adro/images/icons/arrow-right-2.png);
  }
  
  .testimonial-section .thumb-layer{
      position: absolute;
      right: 30px;
      top: 120px;
  }
  
  .testimonial-section .thumb-layer .image{
      position: relative;
      margin-right: 0;
  }
  
  .testimonial-section .thumb-layer .image img{
      display: inline-block;
      max-width: 100%;
      height: auto;
  }

footer{
    position: relative;
    background-color: $BlackColor;
    padding: 80px 0;
    .footercompayDetails{
        position: relative;
        .footerLogos{
            display: flex;
            align-items: center;
            margin-bottom: 20px;
            img{
                margin-left: 10px;
            }
        }
        p{
            color: $WhiteColor;
            font-size: 16px;
        }
        ul{
            display: flex;
            align-items: center;
            list-style: none;
            padding: 0;
            margin: 20px 0 0 0;
            li{
                margin: 0 15px 0 0;
                a{
                    width: 35px;
                    height: 35px;
                    border-radius: 50%;
                    background-color: $ThemesColor;
                    color: $WhiteColor;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    text-decoration: none;
                    transition: $transitionEffect;
                    &:hover{
                        transition: $transitionEffect;
                        background-color: #1f549f;
                        text-decoration: none;
                    }
                }
            }
        }
    }
    .footerAddressSection{
        position: relative;
        padding-left: 20px;
        h3{
            color: $WhiteColor;
            position: relative;
            font-size: 22px;
            font-weight: 600;
            margin-bottom: 15px;
            padding-bottom: 15px;
            color: $ThemesColor;
        }
        ul{
            list-style: none;
            margin: 0;
            padding: 0;
            li{
                margin-bottom: 15px;
                color: $WhiteColor;
                i{
                    margin-right: 15px;
                }
            }
        }
    }
    .footerMenus{
        position: relative;
        padding-top: 55px;
        ul{
            list-style: none;
            padding: 0;
            margin: 0;
            li{
                margin-bottom: 10px;
                a{
                    font-size: 14px;
                    color: $WhiteColor;
                    text-decoration: none;
                    transition: $transitionEffect;
                    &:hover{
                        transition: $transitionEffect;
                        color: $ThemesColor;
                    }
                }
            }
        }
    }
    .newsletterSection{
        position: relative;
        h3{
            color: $WhiteColor;
            position: relative;
            font-size: 22px;
            font-weight: 600;
            margin-bottom: 15px;
            padding-bottom: 15px;
            color: $ThemesColor;
        }
        form{
            display: flex;
            flex-direction: column;
            input{
                width: 100%;
                height: 42px;
                border: solid 1px $WhiteColor;
                transition: $transitionEffect;
                margin-bottom: 10px;
                &:focus{
                    border: solid 1px $ThemesColor;
                    transition: $transitionEffect;
                    box-shadow: none;
                    outline: none;
                }
            }
            button{
                @include buttonSytled();
                border-radius: 5px;
            }
        }
    }
}